@model Tablero

<h1>Actualizar tablero</h1>

<form asp-controller = "Tablero" asp-action="ActualizarTablero" method="post">
    <section class="mb-3">
        <label>Nombre: </label>
        <input asp-for = "@Model.Nombre" placeholder = "Ej. tablero-de-usuario" required>
    </section>
    <section class="mb-3">
        <label>Descripcion: </label>
        <input asp-for = "@Model.Descripcion">
    </section>
    <input hidden asp-for="@Model.Id">
    <input hidden asp-for="@Model.IdUsuarioPropietario">
    <input type="submit">
</form>