@{ViewData["Title"] = "Home";}

<h1 class="text-center home-title">
    KANBAN
</h1>
<section class="home">
    <article>
        <h2>Antes que nada...¿Qué es Kanban?</h2>
        <p>
            Es una metodología para la gestión de proyectos y flujos de trabajo.
            Consiste en un conjunto de tareas representadas gráficamente como tarjetas
            sobre uno o más tableros, los cuales están divididos en secciones que constituyen las fases
            de un proceso. Esta metodología se basa en el desarrollo incremental, es decir, 
            en la división del desarrollo en diferentes partes.
        </p>
        <figure>
            <img src="../img/group.jpg" alt="Un equipo de trabajo">
        </figure>
    </article>
    <article>
        <h2>Ventajas de usar Kanban</h2>
        <ul>
            <li><strong>Transparencia:</strong> Permite conocer de los integrantes del grupo de trabajo cuáles son sus tareas y en qué etapa se encuentran</li>
            <li><strong>Flexibilidad:</strong> Se puede adaptar a los distintos cambios que puede sufrir el proyecto a lo largo del tiempo</li>
            <li><strong>Aumenta la productividad</strong></li>
            <li><strong>Es versátil y simple</strong></li>
        </ul>
    </article>
</section>


