@{
    ViewData["Title"] = "Home";
}
<h1 class="text-center">Kanban</h1>
<section>
    <form class="form-logger">
        <section class="mb-3">
            <label for="usuario" class="form-label">Nombre de usuario</label>
            <input type="text" id="usuario" class="form-control">
        </section>
        <section class="mb-3">
            <label for="contrasenaUsu" class="form-label">Contraseña</label>
            <input type="password" id="contrasenaUsu" class="form-control">
        </section>
        <input type="submit" value="Entrar" class="btn btn-outline-info">
    </form>
</section>


