*{
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-style: oblique;
}

.home-title{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.home h2{
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home article{
  text-align: center;
  color:rgb(102, 102, 102);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home article figure{
  max-width: 575px;
}

.home article figure img{
  width: 100%;
}

.home ul{
  text-align: left;
}

form label{
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-logueo{
  background-color: rgb(63, 60, 60);
  color:white;
}

.usuario-view article{
  background-color: rgb(59, 61, 97);
  color: white;
  transition: opacity 1s;
}

.tableros-view article{
  text-align: center;
}

.tableros-view article h2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.tableros-view article{
  color: white;
}

#mis-tableros article{
  background-color: rgb(64, 89, 198);
}

#tablerosCTA article{
  background-color: rgb(0, 117, 78);
}

#tablerosUsuarios article{
  background-color: rgb(0, 71, 109);
}

#tablerosUsuarios section > h2{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.estado-tarea{
  transition: opacity 1s, box-shadow 1s;
}

.estado-tarea h2{
  text-align: center;
  color: white;
}

.estado-tarea button{
  font-weight: bolder;
}

.usuario-view article:hover,.usuario-view article:focus, .tableros-view article:hover, .tableros-view article:focus,
.estado-tarea:hover, .estado-tarea:focus{
  opacity: 0.9;
}

#Ideas{
  background-color: #258cfb;
}

#ToDo{
  background-color: rgb(153, 164, 0);
}

#Doing{
  background-color: blueviolet;
}

#Review{
  background-color: red;
}

#Done{
  background-color: green;
}

.estado-tarea a{
  color: white;
}

.modal-footer form select{
  font-weight: bolder;
}

.mensaje-error{
  background-color: rgb(var(--bs-danger-rgb));
  color: white;
  font-weight: bolder;
}

.dropdown-menu li{
  transition: background-color 1s;
}

.dropdown-menu li:hover, .dropdown-menu li:focus{
  background-color: gray;
}

.dropdown-menu .nav-item .nav-link{
  transition: color 1s;
}

.dropdown-menu .nav-item .nav-link:hover, .dropdown-menu .nav-item .nav-link:focus{
  color: white;
}


@media all and (min-width:320px)
{
  .dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
  }

  .dropdown-menu li{
    padding-left: 1em;
  }

  .title-view, #tablerosUsuarios section > h2{
    margin-top: 1em;
  }

  .home-title{
    background-size: 100% 100%;
    padding: 2em;
    font-size: 3em;
    color:white;
    box-sizing: border-box;
  }

  .home article{
    padding:1em;
    box-sizing: border-box;
  }

  .home article p{
    font-size: 1.2em;
  }

  .home ul{
    list-style-type: "\1F44D";
  }

  .home article h2{
    margin: 0.5em 0;
  }

  .btn-add{
    width: 100vw;
    margin: 1em auto;
    padding: 0.5em;
  }

  .usuario-view article, .tableros-view article{
    border-radius: 1rem;
    margin: 1.5em auto;
    width: 95%;
    padding: 1em;
  }

  .usuario-view article h2{
    text-align: center;
  }

  .usuario-view article figure{
    border:0.05em solid white;
    width: 90%;
    margin: 1em auto;
    border-radius: 40%;
  }

  .usuario-view article figure img{
    width: 100%;
  }

  .usuario-view article p{
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn-actions{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .btn-actions a{
    margin-bottom: 1em;
    padding: 0.5em;
  }

  .tableros-view article p{
    font-size: 1.2em;
  }

  #tablerosCTA a{
    width: 90%;
  }

  .estado-tarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
  }

  .estado-tarea div{
    display: flex;
    flex-direction: row;
  }

  .estado-tarea div h2{
    width: 90%;
  }

  .estado-tarea div a{
    width: 10%;
  }

  .estado-tarea div a svg{
    max-width: 2em;
    max-height: 2em;
  }

  .estado-tarea button{
    color: white;
    width: 90%;
    margin: 1em auto;
    border-radius: 1rem;
    padding: 0.5em;
  }

  .modal-footer form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }

  .modal-footer form select, .modal-footer form input[type="submit"]{
    width: 50%;
  }

  .modal-footer form input[type="submit"]{
    margin-left: 0.5em;
    padding: 0.5em;
  }  

  form{
    width: 90vw;
    padding: 1em;
    margin: 50vw auto;
    border-radius: 1rem;
  }

  input[type="submit"], input[type="text"], input[type="password"]{
    margin-bottom: 1em;
    border-radius: 2rem;
  }

  form input[type="submit"]{
    margin-top: 1em;
    width: 100%;
    background-color: white;
    color:#258cfb;
    font-weight: bold;
  }
  
  form input[type="submit"]:hover, form input[type="submit"]:focus{
    background-color: #258cfb;
    color:white;
  }

  .form-logueo{
    padding: 1em;
    border-radius:1rem;
    transition: box-shadow 1s, opacity 1s;
  }

  .form-logueo:hover, .form-logueo:focus{
    box-shadow: 0 0.5em rgb(137, 136, 136);
    opacity: 0.9;
  }

  .title-form{
    border-bottom: 0.05em solid rgb(137, 136, 136);
    margin-bottom: 1em;
    font-size: 1.5em;
  }

  .form-crear-actualizar{
    border: 0.03em solid rgb(137, 136, 136);
    box-shadow: 0.2em 0.2em rgb(52, 51, 51);
  }

  .estado-tarea{
    width: 90%;
    margin: 1em auto;
    border-radius: 1rem;
  }

  #Ideas:hover, #Ideas:focus{
    box-shadow: 0.25em 0.25em #18579b;
  }
  
  #ToDo:hover, #ToDo:focus{
    box-shadow: 0.25em 0.25em rgb(102, 109, 0);
  }
  
  #Doing:hover, #Doing:focus{
    box-shadow: 0.25em 0.25em rgb(82, 0, 158);
  }
  
  #Review:hover, #Review:focus{
    box-shadow: 0.25em 0.25em rgb(137, 0, 0);
  }
  
  #Done:hover, #Review:focus{
    box-shadow: 0.25em 0.25em rgb(0, 71, 0);
  }

  .mensaje-error{
    width: 95vw;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 1rem;
    font-size: 1.2em;
    text-align: center;
  }

  footer{
    background-color: rgb(75, 73, 73);
    text-align: center;
    padding: 1em;
    margin-top: auto;
  }
  
  footer div{
    color: white;
  }
}

@media all and (min-width: 575px)
{
  .home figure{
    margin: 1em auto;
  }

  .usuario-view article{
    display: flex;
    flex-direction: row;
  }

  .usuario-view article section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .usuario-view article figure{
    width: 40%;
  }

  .tableros-view article{
    text-align: left;
  }

  .tableros-view .btn-actions{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 0;
  }

  .tableros-view .btn-actions a{
    margin-right: 1.5em;
    margin-bottom: 0;
  }

  #tablerosCTA a{
    width: 30%;
  }

  .tablero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .estado-tarea{
    width: 30%;
  }

  form{
    margin: 25vw auto;
    width: 70%;
  }

  .mensaje-error{
    width: 70%;
  }

  .form-logueo:hover, .form-logueo:focus{
    box-shadow: 0.5em 0.5em rgb(137, 136, 136);
    opacity: 0.9;
  }
}

@media all and (min-width: 1024px)
{
  .form-logueo{
    width: 30%;
    margin: 10vw auto;
  }

  .form-crear-actualizar{
    width: 30%;
    margin: 10vw auto;
  }

  .btn-add{
    width: 20%;
    margin-left: 1em;
  }

  .usuario-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .usuario-view article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 28%;
  }

  .usuario-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tableros-view article{
    width: 60%;
  }

  .estado-tarea{
    width: 18%;
  }

  .tablero{
    justify-content: space-between;
  }

  .mensaje-error{
    width: 30%;
  }
}
